<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ngetes_Admin.My.MySettings.lks_testConnectionString"
            connectionString="Data Source=BROTHERZHAFIF\SQLEXPRESS;Initial Catalog=lks_test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>